@{
    ViewData["Title"] = "Home Page";
}

<div class="h-auto">
    <div class="text-center">
        <h1 class="display-2 text-gold font-gabr">Open Your Way</h1>
    </div>
    <div class="text-right col align-self-end">
        <span class="f-s24 text-gold font-gabr">Create your personal story</span>
    </div>
</div>